:root {
  --useBorder: '1px';
  --backgroundColor: #f4ecd8;
  --fontColor: #5b4636; 
  --borderColor: black; 
  --linkColor: blue; 
  --fontSize: 16px; 
}

#input {
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: text;
  outline: none;
  max-height: 160px;
  padding: 10px;
  border: solid var(--useBorder) var(--borderColor);
  font-size: var(--fontSize);
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  overflow-y: auto;
}

#input a {
  color: var(--linkColor);
}

img {
  max-width: 170px;
  max-height: 170px;
  width: auto;
  height: auto;
}
