:root {
  --text: #5b4636;
  --bg: rgba(62, 56, 56, 0.7);
  --bg-2: #f4ecd8;
}

#natn_tl {
  max-height: 160px;
  padding: 10px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--bg-2);
  color: var(--text);
  unicode-bidi: plaintext;
  overflow-y: scroll;
}

.unicode {
  unicode-bidi: plaintext;
}

.natn-link {
  text-decoration: none;
  color: var(--text);
}
#natn_frame p {
  line-height: 1.38;
  margin-top: 0;
  margin-bottom: 0;
}

#natn_frame {
  overflow: hidden;
  padding: 0px;
  position: fixed;
  width: 600px;
  height: 100px;
  top: 70px;
  left: 50%;
  margin: 0 0 0 -40%;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  background-color: var(--bg);
  border-radius: 5px;
  cursor: grab;
  z-index: 9999;
}

.natn-none {
  display: none;
}
.natn-block {
  display: block;
}
